@import url('https://fonts.googleapis.com/css2?family=Cairo+Play&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #f0f7ee;
    color: #776871;
    font-family: 'Cairo Play', cursive, sans-serif;
}
header ul{
    list-style: none;
    display: flex;
}
header ul li{
    margin-left: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #c4d7f2;
}
header ul li a{
    color: #776871;
    text-decoration: none;
}
.logo, .logo-scan, .logo-home{
    color: #776871;
    text-decoration: none;
    font-size: 2em;
}
.logo-scan{
    border: 4px solid #91a8a4;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    padding: 0px 50px;
}
.logo-home{
    border: 4px solid #91a8a4;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    padding: 0px 50px;
}
.new-scan-btn{
    margin: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;

    height: fit-content;
    width: fit-content;
    transition: 0.5s;
}
.new-scan-btn:hover{
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.new-scan-form{
    margin: 20px;
    display: flex;
}
.new-scan-form-create-btn{
    border: 1px solid #91a8a4;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    background-color: #91a8a4;
    padding: 5px;
    margin-top: 20px;
    color: #f0f7ee;
}
.new-scan-form-create-btn:hover{
    cursor: pointer;
    background-color: #776871;
}
.new-scan-form-remove-btn{
    display: none;
}
.ch2, .ch3, .ch4, .ch5, .ch6, .ch7, .ch8, .ch9, .ch10, .ch11, .ch12, .ch13, .ch14, .ch15, .ch16, .ch17, .ch18, .ch19, .ch20, .ch21, .ch22, .ch23, .ch24, .ch25, .ch26, .ch27, .ch28, .ch29, .ch30, .ch31, .ch32, .ch33, .ch34, .ch35, .ch36, .ch37, .ch38, .ch39, .ch40, .ch41, .ch42, .ch43, .ch44, .ch45, .ch46, .ch47, .ch48, .ch49, .ch50{
    display: none;
}
.form-buttons{
    margin-left: 20px;
}